<div class="jumbotron" ng-controller="ClienteController as clientes">
    <h3> Lista de Clientes </h3>
    <hr/>
    <table class="table-striped" >
        <thead>
            <tr>
                <th> ID             </th>
                <th> Nome Cliente   </th>
                <th> Telefone       </th>
                <th> E-mail         </th>
                <th> Endereço       </th>
                <th> Pedidos        </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="cliente in clientes">
                <td> {{cliente.name}} </td>
                <td> {{cliente.age}} </td>
                <td> {{cliente.city}} </td>
            </tr>
        </tbody>
        
        <tbody>
            
        </tbody>
    </table>
</div>